@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Roboto:wght@300&display=swap');

    /* background: linear-gradient(71.48deg, #304F44 -1.19%, #459884 -1.18%, #528E8E 85.42%); */

.header {
    display: flex;
    justify-content: space-between;
    max-width:1200px;
}
.nav {
    
}
